@import './variable';

.hero {
    width: 100%;
    background-color: $navyBlue;

    &__box {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 16px 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80vh;
        position: relative;

        @media (max-width: $tablet) {
            justify-content: center;
        }
    }

    &__content {
        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__header {
        color: #fff;
        margin: 0;
        font-size: 64px;
        font-weight: normal;
        animation-name: animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;

        @media (max-width: 549px) {
            font-size: 42px;
        }
    }

    &__map {
        display: flex;
        justify-content: center;
        border: none;
    }

}

.contact {
    position: absolute;
    max-width: 1440px;
    padding: 24px 64px;
    background-color: $blueLight;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content:space-around;
    align-items: center;

    &__details {
        border-right: 5px solid #ffffff;
        padding: 0 64px;
    }

    &__hours-info {
        padding: 0 64px;
    }

    &__adress {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
    }

    &__info {
        margin-top: 32px;

        &--phone {
            font-size: 18px;
            color: #ffffff;
            position: relative;
            &::before {
                content: '';
                background-image: url(../../assets/icons/telephone.svg);
                position: absolute;
                width: 30px;
                height: 30px;
                left: -35px;
                top: -2px;
                color: #fff;
            }
        }

        &--mail {
            font-size: 18px;
            color: #ffffff;
            position: relative;
            &::before {
                content: '';
                background-image: url(../../assets/icons/mail.svg);
                position: absolute;
                width: 30px;
                height: 25px;
                left: -35px;
                top: -2px;
                color: #fff;
            }
        }
    }

    &__hours-info {
        color: #fff;
        width: 200px;
    }
}

.day-name {
    font-weight: bold;
}

.contact__logo {
    font-size: 36px;
    font-weight: 400;
    width: 250px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    z-index: 3;
    float: left;
    margin-bottom: 32px;

    &__first {
        font-weight: 700;
    }

    &::before {
        content: '';
        background-image: url('../../assets/icons/contact-ico.svg');
        width: 189px;
        height: 68px;
        position: absolute;
        top: -5px;
        right: 30px;
        z-index: -1;
    }
}