@import './variable';

.footer {
    background-color: #F4F7FA;

    &__container {
        background-color: $navyBlue-light;
        padding: 16px 150px;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;

        @media (max-width: $tablet) {
            padding: 0;
        }
    }

    &__sections {
        padding-top: 150px;
        display: flex;
        justify-content: center;

        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: center;
            padding: 0;
            text-align: center;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        padding: 0 48px;
        color: #fff;

        &--header {
            font-size: 32px;

            @media (max-width: $mobile) {
                border-bottom: 1px solid #fff;
                padding: 32px;
            }
        }

        &--Link {
            display: inline-block;
            color: #fff;
            font-size: 24px;
            text-decoration: none;
            line-height: 42px;
            transition: .3s transform ease-in-out;
            transition: .3s transform ease-in-out;

            &:hover {
             transform: scale(1.05);
            }
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
       padding: 55px; 
       transition: .3s transform ease-in-out;

       &:hover {
        transform: scale(1.1);
    }

       @media (max-width: $mobile) {
           transform: scale(0.8);
        padding: 16px 16px 64px 16px;
    }
    }
}

.footer__right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p {
        color: #fff;
    }

    & a {
        color: #fff;
        text-decoration: none;
    }

    @media (max-width: $mobile) {
        flex-direction: column;
 }
}

.footer__logo {
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;

    &--first {
        font-weight: 700;
    }
}