@import './variable';

.footer {
    background-color: #F4F7FA;

    &__container {
        background-color: $navyBlue-light;
        padding: 16px 150px;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;

        @media (max-width: $mobile) {
            padding: 0;
        }
    }

    &__sections {
        padding-top: 150px;
        display: flex;
        justify-content: center;

        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: center;
            padding: 0;
            text-align: center;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        padding: 0 64px;
        color: #fff;

        &--header {
            font-size: 32px;

            @media (max-width: $mobile) {
                border-bottom: 1px solid #fff;
            }
        }

        &--Link {
            color: #fff;
            font-size: 24px;
            text-decoration: none;
            line-height: 42px;
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
       padding: 55px; 

       @media (max-width: $mobile) {
           transform: scale(0.8);
        padding: 16px 16px 64px 16px;
    }
    }
}

.footer__logo {
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    left: 50px;
    bottom: 10px;

    &--first {
        font-weight: 700;
    }
}