@import './variable';

.hero {
    width: 100%;
    background-color: $navyBlue;

    &__box {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 16px 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80vh;
        position: relative;

        @media (max-width: $tablet) {
            justify-content: center;
        }
    }

    &__content {
        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__img {
        position: absolute;
        bottom: -200px;
        left: 0;
        @media (min-width: 1600px) {
            transform: scale(1.2);
        }

        @media (max-width: 1150px) {
            transform: scale(0.7);
            bottom: -270px;
            left: -20px;
        }

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__header {
        color: #fff;
        margin: 0;
        font-size: 64px;
        font-weight: normal;
        animation-name: animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;

        @media (max-width: 549px) {
            font-size: 42px;
        }
    }

    &__header--second {
        color: #fff;
        margin: 0;
        font-size: 48px;
        font-weight: normal;
        padding-bottom: 70px;

        @media (max-width: 549px) {
            font-size: 24px;
        }
    }


    &__icon {


        &--img {
            position: absolute;
            bottom: -60px;
            right: 0;

            @media (max-width: $tablet) {
                display: none;
            }
        }
    }


    &__button {
        background-color: $blueLight;
        color: $navyBlue;
        font-weight:bolder;
        text-decoration: none;
        font-size: 24px;
        padding: 15px 60px;
        border-radius: 10px;
        text-align: center;
        max-width: 200px;

        transition: .3s background-color ease-in-out;

        &:hover {
            background-color: rgb(107, 210, 223);
        }

        @media (max-width: $tablet) {
            font-size: 16px;
            max-width: 100px;
        }
    }
}

@keyframes animation {
    0% {
      color: #fff;
    }
    50% {
        color: $blueLight;
    }
    100% {
        color: #fff;
      }
  }