@import '_variable';

.navigation {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    background-color: #16213eee;
    padding: 0 46px;
    box-sizing: border-box;

    @media (max-width: $mobile) {
        padding: 16px;
    }
}

@mixin mobileMenu {
    transition: 0.3s ease-in-out 0.1s left ;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:$navyBlue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navMenu
{
    display: flex;
    list-style: none;

    @media (max-width: $tablet) {
        @include mobileMenu;
        left: -1000px;
    }
}

.navMenu-mobile {
    @include mobileMenu;
    left: 0;
}

.navItem {
    padding: 0 40px 0 0;

    @media (max-width: $tablet){
        margin-bottom: 50px;
        padding: 0;
    }
}

.navLink {
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
}

.active {
    font-weight: 500;
}

.logo {
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;

    &__first {
        font-weight: 700;
    }

    @media (max-width: $mobile){
        transform: scale(0.7);
    }
}