@import './variable';
.pricing {
    background-color: #F4F7FA;
    width: 100%;
    padding-bottom: 64px;

    &__box {
        max-width: 1440px;
        margin: 0 auto;
    }

    &__header {
        margin: 0;
        text-align: center;
        font-size: 48px;
        color: $navyBlue;
        padding: 200px 0 100px 0;

        @media(max-width: $mobile) {
            padding: 100px 0 40px 0;
            font-size: 36px;
        }
    }

    &__flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
}

.package {
    background-color: $blueLight;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;

    &__header {
        font-size: 36px;
        color: #fff;
        font-weight: 600;
        margin: 22px 0;

        @media(max-width: $mobile) {
            font-size: 24px;
        }
    }

    &__price {
        font-size: 48px;
        color: #fff;
        font-weight: 600;
        margin: 12px 0 48px 0;

        @media(max-width: $mobile) {
            font-size: 36px;
        }
    }

    &__description {
        font-size: 24px;
        color: #fff;
        font-weight: 400;

        @media(max-width: $mobile) {
            font-size: 16px;
        }
    }

    &__button {
        color: #fff;
        background-color: $navyBlue-light;
        padding: 24px 64px;
        border-radius: 16px;
        margin: 64px 18px 42px 18px;
        text-decoration: none;
        font-size: 24px;

        @media(max-width: $mobile) {
            font-size: 16px;
        }
    }

    &__img {
        padding: 32px 0 16px;
    }
}

.decorated {
    background-color: $navyBlue-light;
    transform: scale(1.02);

    &__button {
        color: #fff;
        background-color: $blueLight;
        padding: 24px 64px;
        border-radius: 16px;
        margin: 64px 18px 42px 18px;
        text-decoration: none;
        font-size: 24px;
        @media(max-width: $mobile) {
            font-size: 16px;
        }
    }
}