@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
}

*,
*::after *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}